body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: large;
}

#content {
    width: 100%;
    height: 100%;
    background-color: black
}

#cursor {
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
}

#controls {
    user-select: none;
    padding: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10px;
    background-color: rgba(255, 255, 255, .2);
    float: left;
}
.planet {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(49, 145, 231);
	box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
	background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
}

.rubber-band {
    border: 1px solid white;
    position: absolute;
    transform-origin: top left;
}
